.explain-input
  border solid 1px $yellow
  background-color #fffefa
  border-radius 3px
  width 733px
  margin 0
  clearfix()
  padding 7px 0px 5px 10px
  
  label
    display block
    float left
    color $typeGrayDark
  
  input
    display block
    float left
    margin-top 5px
    padding 0 5px
    font 14px $sansSerifFamily
    text-align left
    width 630px
    placeholder(color $grayLight,)
    border 0
    background transparent
    line-height 18px
