.help-modal
  border solid 1px $yellow
  background-color #faf7e9
  width 500px
  margin 0
  border-radius 3px

  header
    color $white
    line-height 14px
    clearfix()

    .title
      position relative
      background-color $yellow
      padding 7px 9px 7px 10px
      font-size 14px
      width 70px
      float left

      .fa
        font-size 16px
        absolute top 7px right 12px

    .fa-x
      displpay block
      padding 6px 7px
      background-color $yellow
      float right

  header + p
    padding-bottom 13px

  p
    font 14px $sansSerifFamily
    color $typeGrayDark
    padding 5px 11px
    margin 0
