input.dashed-input, .dashed-input
  border dashed 1px $grayLight
  font 15px $serifFamily
  placeholder(color $grayLight,)
  text-align center
  width 100%
  height 23px

.numbered-input
  display inline-block
  width 570px
  clearfix()

  .count
    background-color #f2f1ed
    display block
    width 30px
    height 30px
    padding-top 1px
    text-align center
    font-style normal
    float left
    
  .dashed-input
    float left
    width 540px
    border-left 0
    padding 6px 5px
    font 14px $sansSerifFamily
    text-align left
    height auto
