//Links
$linkLightTeal = #3a968a
$linkDarkTeal = #385455

//Type colors
$typeGrayDark = #524e47
$typeGrayLight = $grayDark

// Fonts
$sansSerifFamily = 'AvenirNext', Avenir, Verdana, sans-serif
$serifFamily = 'Koufiya', Georgia, serif
$monoFontFamily = monospace, Courier, sans-serif
$proLogoFamily = 'Verdana', sans-serif

// Colors
$white = #fff
$red = #ce3e30
$yellow = #edd172

$grayLighter = #f2f1ed
$grayLight = #dcdad5
$gray = #c7c3be
$grayDark = #7c7975

$backgroundBeige = #fefdf9

$blackTransparent = rgba(0, 0, 0, 0.8)
$grayTransparent = rgba($gray, 0.45)

modalBackground()
  background-color #000
  opacity 0.65

//icons
$largeIconSize = 28px

$codioGadgetIconSize = 184px
