h4 {
  padding-top: 0;
}
.column-list li {
  margin-bottom: 15px;
}
.column-list li a {
  font-size: 13px;
}
h2, h4, p, li {
  font-family: 'AvenirNext',Avenir,Verdana,sans-serif !important;
}

.marketing-column ul, .marketing-column ol {font-family: 'AvenirNext',Avenir,Verdana,sans-serif !important; list-style-type: disc;}

h3 {
  font-size: 18px;
  padding: 10px 0;
  font-weight: bold;
  color:#524e47;
}

h4 {
  font-size: 15px;
  padding: 10px 0;
  font-weight: bold;
  color:#524e47;
}

.navbar-inside {
  width: 940px;
  margin: 0 auto;
}
