.square-icon
  &:hover
    cursor pointer

  &.fa-caret-left
    position relative
    height 24px
    width 24px

    &:before
      absolute bottom 0
      font-size 17px
      border solid 1px $grayLight
      text-align center
      display block
      height 20px
      width 21px
      padding 3px 2px 0px 0px
      color $grayLight

    &:hover
      &:before
        color $grayDark

  &.fa-caret-right
    position relative
    height 24px
    width 24px

    &:before
      absolute bottom 0
      font-size 17px
      border solid 1px $grayLight
      text-align center
      display block
      height 20px
      width 18px
      padding 3px 2px 0px 3px
      color $grayLight

    &:hover
      &:before
        color $grayDark

  &.fa-plus
    position relative
    height 24px
    width 24px

    &:before
      absolute bottom 0
      font-size 13px
      border solid 1px $grayLight
      text-align center
      display block
      height 17px
      width 17px
      padding 5px 3px 1px 3px
      color $grayLight

    &:hover
      &:before
        color $grayDark

  &.fa-minus
    position relative
    height 24px
    width 24px

    &:before
      absolute bottom 0
      font-size 13px
      border solid 1px $grayLight
      text-align center
      display block
      height 17px
      width 17px
      padding 5px 3px 1px 3px
      color $grayLight

    &:hover
      &:before
        color $grayDark

.square-icon-list
  clearfix()

  .square-icon
    display block
    float left
    border-right 0

    &.green
      &:hover
        &:before
          color $linkLightTeal !important

    &.red
      &:hover
        &:before
          color $red !important

    &:first-child
      &:before
        border-top-left-radius 3px
        border-bottom-left-radius 3px
    
    &:last-child
      &:before
        border-right solid 1px $grayLight
        border-top-right-radius 3px
        border-bottom-right-radius 3px
